<%= simple_form_for(@customer, url: customer_orders_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, placeholder: 'user@domain.com' %>
      <%= f.input :firstname %>
      <%= f.input :lastname %>
      <%= f.input :address, placeholder: 'Esimerkkikatu 1 A 12' %>
      <%= f.input :postcode, placeholder: '01800', as: :integer %>
      <%= f.input :city, placeholder: 'Helsinki' %>
      <%= f.input :phone, placeholder: '+358401234567', as: :tel %>
      <%= f.input :age, as: :date %>
      <%= f.collection_radio_buttons :gender, [["none", "None"], ["male", 'Male'] ,["female", 'Female']], :first, :last %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
