<table class="table" style="width: 300px;">
  <tbody>
  <tr>
    <th>Email</th>
    <td><%= current_customer_user.email %></td>
  </tr>
  <tr>
    <th>Firstname</th>
    <td><%= current_customer_user.firstname %></td>
  </tr>
  <tr>
    <th>Lastname</th>
    <td><%= current_customer_user.lastname %></td>
  </tr>
  <tr>
    <th>Address</th>
    <td><%= current_customer_user.address %></td>
  </tr>
  <tr>
    <th>Postcode</th>
    <td><%= current_customer_user.postcode %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= current_customer_user.city %></td>
  </tr>
  <tr>
    <th>Phone number</th>
    <td><%= current_customer_user.phone %></td>
  </tr>
  <tr>
    <th>Date of Birth</th>
    <td><%= current_customer_user.date_of_birth %></td>
  </tr>
  <tr>
    <th>Gender</th>
    <% if current_customer_user.gender == "male" %>
        <td>Male</td>
    <% elsif current_customer_user.gender == "female" %>
        <td>Female</td>
    <% else %>
        <td>Not Defined</td>
    <% end %>
  </tr>
  </tbody>
</table>