<%= render 'breadcrumb' %>

<h1 class="page-header">Order #<%= @order.id %></h1>

<p>
  <strong>Created:</strong>
  <%= l @order.created_at, format: :long %>
</p>

<p>
  <strong>Status:</strong>

  <% if @order.paid %>
      <span class="label label-success">paid</span>
  <% else %>
      <span class="label label-danger">unpaid</span>
      <%= button_to 'Pay now', customer_order_pay_path(@order), class: 'btn btn-primary' %>
  <% end %>
</p>

<% if @tickets.count > 0 %>
    <div>
      <h2>Tickets</h2>

<%= render 'tickets' %>

    </div>
<% end %>
<% if @seats.count > 0 %>
    <div>
      <h2>Seats</h2>

 <%= render 'seats' %>
    </div>
<% end %>
<div>
  <p><strong>Total price:</strong> <%= number_to_currency @order.total %></p>
</div>