<h1>Listing Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Customer</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <th><%= link_to order.customer.firstname, admin_customer_path(order.customer) %></th>
        <td><% if order.paid %><span class="label label-success">paid</span><% else %><span class="label label-danger">unpaid</span><% end %></td>
        <td><%= link_to 'Show', admin_order_path(order) %></td>
        <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
        <td><%= link_to 'Destroy', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_admin_order_path, class: "btn btn-primary" %>
