<h1 class="page-header">
  <span>Seats</span>
  <%= link_to 'New Seat', new_admin_seat_path, class: "btn btn-primary pull-right" %>
</h1>

<% if !@seats.any? %>
    <p>Looks like there are no seats yet.</p>
<% else %>
    <p>Total of <%= pluralize(@seats.count, "seat") %>.</p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th>Table</th>
        <th>Seat</th>
        <th>Status</th>
        <th>Given away</th>
        <th>Code</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @seats.each do |seat| %>
          <tr>
            <td><%= link_to seat.ticket.ticket_type.name, admin_ticket_type_path(seat.ticket.ticket_type) %></td>
            <td><%= seat.table %></td>
            <td><%= seat.seat %></td>
            <% if seat.ticket.reservation.nil? %>
                <td><span class="label label-success">Free</span></td>
            <% else %>
                    <td>Reserved
                      to <%= link_to seat.ticket.reservation.customer.firstname + " "+ seat.ticket.reservation.customer.lastname, admin_customer_path(seat.ticket.reservation.customer) %>
                      as <%= link_to "Order #" + seat.ticket.reservation.id.to_s, admin_order_path(seat.ticket.reservation) %></td>
            <% end %>
            <% if seat.ticket.given_away %>
                <td>Yes</td>
            <% else %>
                <td>No</td>
            <% end %>
            <td><%= seat.ticket.code %></td>
            <td>
              <div class="btn-group pull-right" role="group" aria-label="...">
                <%= link_to 'Show', admin_seat_path(seat), class: "btn btn-success" %>
                <%= link_to 'Edit', edit_admin_seat_path(seat), class: "btn btn-primary" %>
                <%= link_to 'Destroy', admin_seat_path(seat), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>