<h1 class="page-header">Seats</h1>

<% if !@seats.any? %>
    <p>Looks like there are no seats yet.</p>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Code</th>
      <th>Status</th>
      <th>Given away</th>
      <th>Table</th>
      <th>Seat</th>
      <th>X</th>
      <th>Y</th>
      <th>Angle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= link_to seat.ticket.ticket_type.name, admin_ticket_type_path(seat.ticket.ticket_type) %></td>
        <td><%= seat.ticket.code %></td>
        <% if seat.ticket.reservation.nil? %>
        <td>Free</td>
            <% else %>
        <td>Reserved</td>
            <% end %>
        <% if seat.ticket.given_away %>
            <td>Yes</td>
        <% else %>
            <td>No</td>
        <% end %>
        <td><%= seat.table %></td>
        <td><%= seat.seat %></td>
        <td><%= seat.x %></td>
        <td><%= seat.y %></td>
        <td><%= seat.angle %></td>
        <td><%= link_to 'Show', admin_seat_path(seat) %></td>
        <td><%= link_to 'Edit',  edit_admin_seat_path(seat) %></td>
        <td><%= link_to 'Destroy', admin_seat_path(seat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Seat', new_admin_seat_path, class: "btn btn-primary" %>
