<ol class="breadcrumb">
  <li><%= link_to "Seats", admin_seats_path %></li>
  <li class="active">Seat #<%= @seat.id%></li>
</ol>

<h1 class="page-header">
  <span>Seat</span>
  <div class="btn-group pull-right" role="group" aria-label="...">
    <%= link_to 'Edit', edit_admin_seat_path(@seat), class: "btn btn-primary" %>
    <%= link_to 'Destroy', admin_seat_path(@seat), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  </div>
</h1>

<table class="table">
  <tbody>
  <tr>
    <th>Table</th>
    <td><%= @seat.table %></td>
  </tr>
  <tr>
    <th>Seat</th>
    <td><%= @seat.seat %></td>
  </tr>
  <tr>
    <th>X</th>
    <td><%= @seat.x %></td>
  </tr>
  <tr>
    <th>Y</th>
    <td><%= @seat.y %></td>
  </tr>
  <tr>
    <th>Angle</th>
    <td><%= @seat.angle %></td>
  </tr>
  <tr>
    <th>Status</th>
    <% if @seat.ticket.reservation.nil? %>
    <td>Free</td>
        <% else %>
    <td>Reserved to <%= link_to @seat.ticket.reservation.customer.firstname + " " + @seat.ticket.reservation.customer.firstname, admin_customer_path(@seat.ticket.reservation.customer) %>
        as <%= link_to "Order #" + @seat.ticket.reservation.id.to_s, admin_order_path(@seat.ticket.reservation) %></td>
    <% end %>
  </tr>
  <tr>
    <th>Given Away</th>
    <td><%= @seat.ticket.given_away %></td>
  </tr>
  <tr>
    <th>Code</th>
    <td><%= @seat.ticket.code %></td>
  </tr>
  </tbody>
</table>