<ul class="nav nav-sidebar">
    <li><%= link_to 'Overview', admin_ticket_types_path %></li>
    <li class="<%= 'active' if current_page?(admin_ticket_types_path) %>"><%= link_to 'Ticket Types', admin_ticket_types_path %></li>
    <li class="<%= 'active' if current_page?(admin_tickets_path) %>"><%= link_to 'Tickets', admin_tickets_path %></li>
    <li class="<%= 'active' if current_page?(admin_seats_path) %>"><%= link_to 'Seats', admin_seats_path %></li>
    <li class="<%= 'active' if current_page?(admin_customers_path) %>"><%= link_to 'Customers', admin_customers_path %></li>
    <li class="<%= 'active' if current_page?(admin_orders_path) %>"><%= link_to 'Orders', admin_orders_path %></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="#"><strong>Read barcodes</strong></a></li>
</ul>