<%= simple_form_for(@ticket, url: admin_ticket_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :ticket_type, collection: @ticket_types, priority: @ticket.ticket_type %>
    <%= f.input :code %>
    <%= f.input :given_away %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
