<%= simple_form_for(@ticket, url: admin_tickets_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :ticket_type, collection: @ticket_types, priority: @ticket.ticket_type %>
      <%= f.input :quantity, as: :integer, input_html: { value: '1', min: 1 } %>
      <%= f.input :given_away %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create Ticket", class: "btn btn-primary" %>
    </div>
<% end %>
