<%= render partial: "breadcrumb", locals: {current_page: "show"} %>

<h1 class="page-header">
  <span>Ticket</span>
  <div class="btn-group pull-right" role="group" aria-label="...">
    <%= link_to 'Edit', edit_admin_ticket_path(@ticket), class: "btn btn-primary" %>
    <%= link_to 'Destroy', admin_ticket_path(@ticket), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  </div>
</h1>

<table class="table">
  <tbody>
  <tr>
    <th>Type</th>
    <td><%= link_to @ticket.ticket_type.name, admin_ticket_type_path(@ticket.ticket_type) %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td>  <% if @ticket.reservation.nil? %>
          <span class="label label-success">Free</span>
      <% else %>
          Reserved
          to <%= link_to @ticket.reservation.customer.firstname, admin_customer_path(@ticket.reservation.customer) %>
          as <%= link_to 'Order', admin_order_path(@ticket.reservation) %>
      <% end %></td>
  </tr>
  <tr>
    <th>Code</th>
    <td><%= @ticket.code %></td>
  </tr>
  <tr>
    <th>Given Away</th>
    <td><% if @ticket.given_away %>
          Yes
      <% else %>
          No
      <% end %></td>
  </tr>
</tbody>
    </table>