<%= simple_form_for(@seat) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :table %>
    <%= f.input :seat %>
    <%= f.input :x %>
    <%= f.input :y %>
    <%= f.input :angle %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
