<h1>Listing Seats</h1>

<table class="table">
  <thead>
  <tr>
    <th>Table</th>
    <th>Seat</th>
    <th>X</th>
    <th>Y</th>
    <th>Angle</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.table %></td>
        <td><%= seat.seat %></td>
        <td><%= seat.x %></td>
        <td><%= seat.y %></td>
        <td><%= seat.angle %></td>
        <td><%= link_to 'Show', customer_seat_path(seat) %></td>
        <td><%= link_to 'Edit', edit_customer_seat_path(seat) %></td>
        <td><%= link_to 'Destroy', customer_seat_path(seat), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seat', new_customer_seat_path %>
