<p>
  <strong>Table:</strong>
  <%= @seat.table %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @seat.seat %>
</p>

<p>
  <strong>X:</strong>
  <%= @seat.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @seat.y %>
</p>

<p>
  <strong>Angle:</strong>
  <%= @seat.angle %>
</p>

<%= link_to 'Edit', edit_customer_seat_path(@seat) %> |
<%= link_to 'Back', customer_seats_path %>
