<%= simple_form_for(@admin, url: admin_user_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :level %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Edit Admin", class: "btn btn-primary" %>
    </div>
<% end %>
