<%= render partial: "breadcrumb", locals: {current_page: "show"} %>

<h1 class="page-header">
  <span>Admin</span>
  <div class="btn-group pull-right" role="group" aria-label="...">
    <%= link_to 'Edit', edit_admin_user_path(@admin), class: "btn btn-primary" %>
    <%= link_to 'Destroy', admin_user_path(@admin), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
  </div>
</h1>


<table class="table">
  <tbody>
  <tr>
    <th>Username</th>
    <td><%= @admin.username %></td>
  </tr>
  <tr>
    <th>Level</th>
    <td><%= @admin.level %></td>
  </tr>
  </tbody>
  </table>