<h1 class="page-header">
  <span>Ticket Types</span>
  <%= link_to 'New Ticket Type', new_admin_ticket_type_path, class: "btn btn-primary pull-right" %>
</h1>

<% if !@ticket_types.any? %>
    <p>Looks like there are no ticket types yet.</p>
<% else %>
    <p>Total of <%= pluralize(@ticket_types.count, "ticket type") %>.</p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Free</th>
        <th>Reserved</th>
        <th>Total</th>
        <th>Type</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @ticket_types.each do |ticket_type| %>
          <tr>
            <td><%= ticket_type.name %></td>
            <td><%= number_to_currency(ticket_type.price) %></td>
            <td><%= ticket_type.free.count %></td>
            <td><%= ticket_type.reserved.count %></td>
            <td><%= ticket_type.tickets.count %></td>
            <% if ticket_type.is_seat %>
                <td>Seat</td>
            <% else %>
                <td>Normal</td>
            <% end %>
            <td>
            <div class="btn-group pull-right" role="group" aria-label="...">
              <%= link_to 'Show', admin_ticket_type_path(ticket_type), class: "btn btn-success" %>
              <%= link_to 'Edit', edit_admin_ticket_type_path(ticket_type), class: "btn btn-primary" %>
              <%= link_to 'Destroy', admin_ticket_type_path(ticket_type), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
            </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>